table.dataTable{margin-top: 1rem !important;width: 99% !important;margin: auto}
    .table tr:first-child td{width: 10%}
	.table tr:last-child td{text-align: left}
	.table tr td:last-child,.table tr th:last-child{text-align: left}
	.table tr:last-child td:last-child{font-weight: normal;}
	.table tr:last-child{text-align: left}
	.sortable tr td {border-right: 0px;padding: 5px 5px;text-align: left;font-size: 13px;min-width: 50px;vertical-align: middle;}
	
	.table{border: 1px solid #D7DFF0;border-collapse: collapse;border-style: hidden;border-radius: 10px 10px 0 0;box-shadow: 0 0 0 1px #d7dff0;}
	.table thead th{font-size: 12px;font-weight: normal;color: #6F83AA;letter-spacing: 0.5px;background: #E6EBF7;text-transform: uppercase;padding: 0.8rem;text-align: left}
	.table thead tr th:first-child{border-top-left-radius: 10px}
	.table thead tr th:last-child{border-top-right-radius: 10px}
	.table td, .table th{border-top: 1px solid #D7DFF0;padding: 0.9rem 0.75rem;color: #364159;font-weight: normal;}
	.table td{background: #ffffff;}

	.form-control { padding:5px !important}